.project {
    position: fixed;
    top: 7%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    z-index: -1;
}

.nav-options-project {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-options-project a {
    text-decoration: none;
    background: #D9D9D9;
    width: 100%;
    padding: 7px 0 7px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2F3135;
}

.nav-options-project a:hover {
    background: #2F3135;
    color: white;
    border-radius: 5px;
}

.nav-options-project a.selected {
    background: #000;
    /* Color negro */
    color: white;
    border-radius: 5px;
}

.export-project {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background: #383ECD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.options-export-off {
    display: none;
}

.options-export-on {
    display: block;
    position: absolute;
    background: gray;
    top: 35px;
    right: 10px;
    z-index: 1;
}

.sub_export {
    display: flex;
    flex-direction: column;
}

.sub_export a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1rem;
}

.sub_export a:hover {
    background: #D9D9D9;
}

/* GENERAL DATA */
.content-info-project {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background: white;
    padding: 10px;
}

.txtArea_desc {
    width: 99%;
    height: 270px;
    resize: none;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}

.content-form td {
    padding: 5px;
}

.content-form input {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background: #EEEEEE;
    outline: none;
}

.ip_gdata {
    width: 96%;
}

.btn_gdata_card {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn_gdata {
    padding: 5px 20px 5px 20px;
    background: #14FF00;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn_gdata:hover {
    background: #2F3135;
    color: white;
}