body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background: #1D2024;
    color: #FFFF;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding-left: 10px;
    z-index: 1;
    .a-main {
        text-decoration: none;
        color: #F2F2F2;
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
}

.twoTextLogo {
    color: #14FF00;
}

.cont_search {
    margin-left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_nav {
    height: 50%;
    width: 600px;
    background: #2F3135;
    border: 1px solid #838383;
    border-radius: 5px;
    color: white;
}

.user_nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user_icon {
    height: 80%;
    width: 40px;
    border-radius: 50%;
    background: #14FF00;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon_user_txt {
    font-size: 20px;
}

.cont_subuserOff {
    display: none;
}

.content_subuserOn {
    display: block;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: #1D2024;
    top: 50px;
    right: 1%;
    border-radius: 0 0 10px 10px;
}

.submenu_user {
    display: flex;
    flex-direction: column;
}

.submenu_user a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

.submenu_user a:hover {
    background: #14FF00;
}



/* BODY PRINCIPAL   */
.container {
    margin-top: 3rem;
    position: fixed;
    background: #F1F7FE;
    width: 100%;
    height: calc(100dvh - 3rem);
    display: flex;
    z-index: -2;
}

.nav_options {
    height: calc(100dvh - 5.5rem);
    padding: 20px;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_options a {
    background: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-nav {
    width: 20px;
}

.nav_options a:hover {
    background: #D3D3D3;
}

.content_info {
    padding: 20px;
}

.a_new_project {
    padding: 10px 30px 10px 30px;
    background: #ffb800;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
}